:root {
    --latest: #5A9E3D
}

div.downloads {
    position: relative;
    width: 100%;
    top: 25%;
    height: auto;
    text-align: center;
}

button.download {
    margin-bottom: 10px;
    width: 80%;
    transition: 1s ease-in;
    background-color: var(--alt1);
}

button.download:hover {
    filter: brightness(1.1);
    transition: 1s ease-in;
}

button.download.latest {
    background-color: var(--latest);
}

.bl {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
    transition: .4s ease;
}
.bl i {
    position: absolute;
    left: 50%;
    top: 0px;
    font-size: 100px;
    transform: translate(-50%, 50%);
    float: left;
}

.bl p,
.bl h1 {
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    top: 50%;
}