section#features {
    padding-top: 10px;
    height: auto;
    background-color: var(--alt);
    cursor: pointer;
}

.bl {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
    transition: .4s ease;
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 37%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.0) 50%
            );
    background-position: -200px -200px;
}

.bl:hover {
    transition: .4s ease;
    background-position: 200px 200px;
    transform: perspective(1200px) rotateX(15deg);
    filter: drop-shadow(0px 4px 8px #000);
}
.bl:active {
    transition: .0s ease;
    transform: perspective(1200px) rotateX(20deg);
}

.bl i {
    position: absolute;
    left: 50%;
    top: 0px;
    font-size: 100px;
    transform: translate(-50%, 50%);
    float: left;
    transition: .4s ease;
}
.bl h1 {
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    top: 50%;
    transition: .4s ease;
}
.bl p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s ease;
}

.bl.info p {
    opacity: 1;
}
.bl.info h1 {
    opacity: 0.2;
}.bl.info i {
    opacity: 0.2;
}